<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>发表话题</title>
  <script language="javascript" th:src="@{/js/jQuery.js}"></script>
  <script th:src="@{/layui/layui.all.js}"></script>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/res/css/global.css}" media="all">
  <script th:src="@{/layui/layui.js}"></script>
  <script language="javascript" th:src="@{/js/userIndexJs.js}"></script>
</head>
<body>

<div class="main layui-clear">
  <div class="fly-panel" pad20>
    <h2 class="page-title">发表问题</h2>

    <!-- <div class="fly-none">并无权限</div> -->

    <div class="layui-form layui-form-pane">
      <div action=" ">
        <div class="layui-form-item">
          <label for="edit-topic-name" class="layui-form-label">标题</label>
          <div class="layui-input-block">
            <input type="text" id="edit-topic-name" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item layui-form-text">
          <div class="layui-input-block">
              <textarea id="edit-description" name="content"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
          </div>
          <label class="layui-form-label" style="top: -2px;">话题描述</label>
        </div>
        <div class="layui-form-item">
          <label for="edit-topic-name" class="layui-form-label">所属游戏</label>
          <div class="layui-input-block">
              <select name="modules" id="edit-game-id" lay-verify="required" lay-search="">
                  <option th:each="c, State : ${gameList}" th:text="${c.id}+','+${c.gameName}"></option>
              </select>
            <!--<input type="number" id="edit-game-id" name="reward" required lay-verify="required" autocomplete="off" class="layui-input">-->
          </div>
        </div>
        <div class="layui-form-item">
          <button class="layui-btn" lay-filter="*" onclick="userIndexJs.method.topicAddBtn()">立即发布</button>
        </div>
      </div>
    </div>
  </div>
</div>

 <script type="text/javascript" charset="utf-8" th:src="@{/res/js/kindeditor.js}"></script>
  <script type="text/javascript">
    // KE.show({
    //     id : 'content',
	// 	resizeMode : 1,
    //     cssPath : './index.css',
    //     items : [
    //     'fontname', 'fontsize', 'textcolor', 'bgcolor', 'bold', 'italic', 'underline',
    //     'removeformat', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
    //     'insertunorderedlist', 'emoticons', 'image', 'link']
    // });
  </script>
<script>

layui.cache.page = '';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '/res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "2.0.0"
  ,base: '/res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>
</body>
</html>